/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.clr{
	clear: both;	
}

.left{
	float: left;	
}

.input{
	padding: 3px;
	border: solid 1px #333;	
}

.button{
	font-size: 12px;
	padding: 3px;
	border: solid 1px #333;	
}

.boxA{
	width: 600px;
	padding: 10px;
	margin: 20px auto;
	border: solid 2px #F00;	
	min-height: 100px;
}

.boxA div{
	padding: 3px;	
}

.item{
	border: solid 1px #999;
	padding: 3px;
	margin-bottom: 5px;	
	display:block;
}

.item h2{
	font-size: 16px;	
}

.item p{
	padding: 4px 10px;
}

.bg01{
	background-color: #FF9;	
}

.bg02{
	background-color: #CFC;
}

.text2{
	font-weight: bold;
	color: #F00;
}

.text3{
	font-style: italic;
	color: #00F;
}
.hide
{
	display: none;
}





