*
{
	margin: 0px;
	padding: 0px;
}

.ndmotkhoi {
    padding: 10px;
    border: 1px solid gray;
    background: rgba(252,252,252,0.56);
    color: #3C3C3C;
}

.motkhoi h3 {
    background: #f1c40f;
    color: white;
    padding: 10px 12px;
}

.motkhoi h3:hover {
    background: url(../images/arrow_down.png) no-repeat 96% #f1c40f;
}
.hieuung {
    width: 400px;
    margin: auto;
    margin-top: 100px;
}

.container {
    text-align: center;
}

body {
    background: url(../images/bgnoise_lg.jpg);
    font-family: segoe ui light;
}