*
{
	margin: 0px;
	padding: 0px;
}
.dangky,.dangnhap
{
	width: 470px;
	height: 500px;
	background-color: #f7f7f7;
	border:1px solid gray;
	padding: 20px;
	position: fixed;
	top:100px;
	left:50%;
	transform: translate(-50%);
}
.nutso1,.nutso2
{
	float: right;
}