/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.clr{
	clear: both;	
}

.left{
	float: left;	
}

.input{
	padding: 3px;
	border: solid 1px #333;	
}

.button{
	font-size: 12px;
	padding: 3px;
	border: solid 1px #333;	
}

.boxA{
	width: 600px;
	padding: 10px;
	margin: 20px auto;
	border: solid 2px #F00;	
	min-height: 100px;
}

.boxA div{
	padding: 3px;	
}

.bg01{
	background-color: #FF9;	
}
.bg02
{
	background-color: #CFC;
}
.item
{
	border:1px #999 solid;
	padding: 3px;
	margin-bottom: 5px;
}